
@{
    Layout = null;
    // UI Layout
}

<!DOCTYPE html>
<html>

@await Component.InvokeAsync("_UILayoutHeadComponentPartial")

<body>

    @await Component.InvokeAsync("_UILayoutNavbarComponentPartial")

    @await Component.InvokeAsync("_UILayoutScriptComponentPartial")

    <!-- book section -->
    @RenderBody()
    <!-- end book section -->
    <!-- footer section -->
    @await Component.InvokeAsync("_UILayoutFooterComponentPartial")

    <!-- footer section -->
   

</body>

</html>
